@import '~bootstrap/dist/css/bootstrap.min.css';

@import '_module.scss' ;

@import '../../components/Header/Header.scss' ;

// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  
@font-face {
    font-family: 'RalewayRegular';
    font-style: normal;
    font-weight: 400;
    src: url(../_assets/fonts/OTF/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'RalewayExtraBold';
    font-style: normal;
    font-weight: 900;
    src: url(../_assets/fonts/OTF/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: 'ClashDisplay';
    font-style: normal;
    font-weight: 700;
    src: url(../_assets/fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: 'ClashDisplayLight';
    font-style: normal;
    src: url(../_assets/fonts/OTF/ClashDisplay-Medium.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // outline: 2px solid red !important;
}

//colour
$color-primary:#E54A18;
$light-blue: #EBF4F9;
$pink: #F0E5E1;
$brown:#4C1908;
$gray: #151515;
$graylight:#7D7D7D;
$black_1:#001825B2;

.cu-orange{
    color: $color-primary;
}
.cu-gray{
    background-color: $gray;
}
.cu-pink{
    background-color: $pink;
}
.cu-gray1{
    color: $graylight;
}
.cu-black1{
    color: $black_1;
}

.lightOrage{
    background-color: rgba(229, 74, 24, 0.1);
    color: $color-primary;
}
// height
.h-6{
    height: 8rem;
}

//general
:root{
    --bs-tertiary-bg: rgba(229, 74, 24, 0.1) !important;
    --bs-border-width: 0px !important;
    --bs-primary-bg-subtle: #fff !important;
    --bs-border-color: #fff !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: ClashDisplay;
}
h1{
    color:#151515;
}
.dropdown-item:active {
    background-color:  rgba(229, 74, 24, 0.1) !important;
}
.mobile_title{
    font-size: 3rem;
}
.title_space{
    margin-bottom: 5rem;
}
.content_space{
    padding: 8rem 0; 
}
.content_space2{
    padding: 4rem 0; 
}

@media screen and (max-width: 575px) {
    .container{
        padding: 0 10px !important;
    }
}
@media screen and (min-width: 1200px){
    .container{
        min-width: 75rem !important;
        margin: 0 auto !important;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        max-width: 1320px !important;
        margin: auto !important;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll_hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

//font
$font-size-base: 14px ;
$font-size-p: 13px ;
$font-size-h: 3rem;
$font-size-med: 1.05rem;
$font-size-bold: 3.3rem;

.ft{
    font-size: $font-size-base;
}

.ft-1{
    font-size: $font-size-p;
}
.ft-2{
    font-size: $font-size-h;
}
.ft-3{
    font-size: $font-size-med;
}
.ft-4{
    font-size: $font-size-bold;
}

.clash{
    font-family: ClashDisplay;
}
.clash_light{
    font-family: 'ClashDisplayLight' !important;
}
//opacity
.opas{
    opacity: 60%;
}
.opas-1{
    opacity: 90%;
}

.modal-dialog{
    max-width: 1000px !important;
}
//mobile
@media screen and (max-width: 789px) {
    .mobile_title{
        font-size: 2rem !important;
    }
    .cover{
        overflow: hidden;
    }
    .modal-dialog{
        max-width: 500px !important;
    }
    .accordion{
        --bs-accordion-btn-focus-box-shadow: none!important;
        --bs-accordion-border-width: 0px !important;
        --bs-accordion-btn-focus-border-color: #fff !important;
        .accordion-button{
        font-size: 14px !important;
        :focus{
            border-color: white !important;
            box-shadow: white !important;
        }
        :not(.collapsed){
            background-color: #fff !important;
            color: #000 !important;
        }
       
        // .accordion-body{
        //     padding: 1rem 0 !important;
        // }
    }
    }
    
}
//mobile end

//header
.dropdown-toggle::after{
    display: none !important;
}

//register button effect
.register_btn:hover{
    background-color: #bf3e14 !important;
    transition: linear ease-in 5s;
}

//hero
@keyframes hero_scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}   
@keyframes hero_scrollx {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.hero{
    height: calc(100vh - 104px);
    .sponsor_btn{
        border: 1px solid #000;
        &:hover{
            color: $color-primary !important;
            // background-color: $color-primary !important;
            border: 1px solid $color-primary;
            transition: linear ease-in 5s;
        }  
    }
    .track_cont {
        // height: calc(100vh - 101px);
        height: auto;
        &:hover{
            animation-play-state: paused;
        }
        .wave_style{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .hero_track1{
            animation: hero_scroll 20s linear infinite;
        }
        .hero_track2{
            animation: hero_scrollx 20s linear infinite;
        }
    } 
}
@media screen and (max-width: 768px){
    .hero{
        height: 700px;
    }
}
@media screen and (max-width: 991px){
    .hero{
        height: 800px;
    }
}


//timer
.b-drop{
    background: $brown url(../_assets/images/abstract_backdrop1.png) no-repeat center left;
    // margin-bottom: 4rem;
}

//logo slide
.slider-cont{
    padding: 4rem 0;
}
@media screen and (max-width: 768px) {

    .logo_slider {
        height: 65px;
    
        .logo_sliderTrack{
            animation: scroll 20s linear infinite;
            width: auto;
            position: absolute;
            top: 0%;
            transform: translate(0, -50%);
            &:hover{
                animation-play-state: paused;
            }
            .logo_card{
                // width:max-content !important;
                width: 180px;
                height: 86px;
            }
        }
    } 
}
.logo_sliderTrack{
    height: 65px;
    .logo_card{
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
    }
}

//slider
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollx {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    height: 152px;

    .sliderTrack {
        animation: scroll 80s linear infinite;
        width: auto;
        transform: translate(0, -50%);
        &:hover {
            animation-play-state: paused;
        }
    }
    .sliderTrackx {
        animation: scrollx 80s linear infinite;
        width: auto;
        transform: translate(0, -50%);
        &:hover {
            animation-play-state: paused;
        }
    }
    .slide {
        width: 21rem;
    }
}

// card_sec
.lin{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.05deg, rgba(37, 9, 0, 0) 0.04%, rgba(37, 9, 0, 0.05) 16.53%, rgba(37, 9, 0, 0.4) 36.71%, #250900 83.14%);
    
    .card_content{
        overflow: hidden;
        transition: height 0.5s ease-in-out;
            .card_effect{
            height: 4rem;
        }
    }

    &:hover {
        background: linear-gradient(180.05deg,rgba(37, 9, 0, 0) -0.96%, rgba(37, 9, 0, 0.05) -37.47%, rgba(37, 9, 0, 0.4) 7.71%, #250900 65.14%);
        transition: background 1s ease-in-out;
    
        .card_content .card_effect{
            height: 70%;
            transition: height 1s ease-in-out;
        }
    }
}

// dual_card
@media (min-width:768px) and (max-width:991px){
    .dual-card-img{
        margin-bottom: 1.5rem;
    }
}

.orange{
    background-color: $color-primary;
}
.orange-1{
    background: rgba(255, 255, 255, 0.1);
}
.drop{
    background: $color-primary url(../_assets/images/abstract_backdrop2.png) no-repeat center;
}


// multi-slide
.lightBlue{
    background-color: $light-blue;
}

//register
.register_title{
    letter-spacing: 1px;
}
@media screen and (max-width: 768px){
    .register_img{
        width: max-content !important;
    }
}
.register_img{
    width: 100%;
}
.register_overlay{
    background: rgba(37, 9, 0, 0.8);
    top: 0;
}

// footer
.footer-cont{
    .sub_cont{
    background-color: rgba(221, 221, 221, 0.05);
    }
    .footer-input{
        background-color: rgba(255, 255, 255, 0.1);
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .footer-line{
        height: 1px;
    }
}

//about
.about-text{
    height: 300px;
   .tx-orange{
    color: $color-primary;
    } 
    @media (min-width:768px) and (max-width:1023px){
        width: 45% !important;
    }
}

//speaker
.speaker-hero{
    height: 200px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: rgba(0, 0, 0, 1); 
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: url(../_assets/images/abstract_backdrop3.png) no-repeat center;
        background-size: cover;
        filter: brightness(20%); 
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
@media screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: auto;
        gap: 20px;
    }
}

//shcedule
.raleway{
    font-family: 'RalewayRegular';
}
.ralewayExbold{
    font-family: 'RalewayExtraBold';
}

.host-img{
    width: 348px;
    height: 292px;

}

//gallary
.grid_fit{
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .grid_cont  {
        gap: 10px !important;
    }
}
@media screen and (max-width: 767px) {
    .grid_cont2  {
        gap: 10px !important;
    }
}
.grid_cont {
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: auto;
    gap: 20px;

    .grid_item1 {
        grid-row: 1 / span 2;
    }
    .grid_item4 {
        grid-row: 3;
        grid-column: 1;
    }
    .grid_item5 {
        grid-row: 2 / span 2;
    }
    .grid_item6 {
        grid-column: 3;
        grid-row: 2 / span 2;
    }
}
.grid_cont2 {
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;

  .grid_item7 {
    grid-row: 1;
  }
  .grid_item8 {
    grid-row: 1 / span 2;
  }
  .grid_item9 {
    grid-row: 2 / span 2;
    grid-column: 1;
  }
  .grid_item11 {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
}

//contact
.contact-hero{
    background-color: $pink;
}
.contact-form{
    background-color: rgba(255, 255, 255, 0.1);
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}
@media screen and (max-width: 320px) {
    .contact-email  {
        font-size: $font-size-base;
    }
}

.intl-tel-input {
    width: 100%; 
    color: #fff;
    background-color:  transparent; 
    border: none;
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    input.intl-tel-input{
        padding: 16px 16px 16px 95px !important;
    }
    .country-list{
        color: #000;
    }
    .selected-flag{
        border-radius: 4px 0px 0px 4px;
        width: auto;
        background-color: #fff !important;
        color: #000;
        display: flex !important;

        &:hover{
            background-color: #fff !important;
        }
    }
    .selected-dial-code{
        width: auto;
        padding: 0px 0px 0px 5px !important;
    }
    .arrow{
        display: none;
    }
}
  
//register
.raleway-reg, .custom-select__control{
    font-family: "RalewayRegular", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
.reg-cont{
    margin: 0 0 0 4rem;
}
@media (min-width:768px) and (max-width:991px)  {
    .reg-cont{
        width: 720px;
        margin:  0 auto;
    }
}
@media screen and (max-width: 767px)  {
    .reg-cont{
        width: 100%;
        margin: 0;
    }
}
.reg{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.css-t3ipsp-control{
    box-shadow: 0 0 0 1.5px #000000 !important;
}
.custom-select__control {
    border: 1px solid rgba(0, 0, 0, 0.2) !important; 
    padding: 16px;
    .custom-select__indicator-separator{
        display: none;
    }
    .css-1xc3v61-indicatorContainer{
        padding: 0px;
    }
    .custom-select__input-container{
        padding: 0px;
        margin: 0px;
    }
    .custom-select__value-container{
        padding: 0px;
    }
    .custom-select__option{
        background-color: white !important;
    }
}
.css-tr4s17-option{
    background-color: #E54A18 !important;
}
.css-d7l1ni-option {
    background-color: rgba(229, 74, 24, 0.1) !important;
}
@media screen and (max-width: 320px) {
    .raleway-reg  {
        font-size: $font-size-base;
    }
}
@media (max-width:900px)  {
    .css-1nmdiq5-menu{
    top: auto !important;
    bottom: 100% !important;
    }
}
// modal
.modal-text{
    font-family: RalewayRegular;
    font-size: 14px;
    font-weight: 400;

}